<h1 style="margin-bottom: 30px; text-align: center;">My Purchases</h1>
<div class="panel panel-default">
	<table class="table table-bordered table-striped">
		<thead class="bg-success">
			<tr>
				<th>Gig Title</th>
				<th>Price $</th>
				<th>Status</th>
			</tr>	
		</thead>
		<tbod>
			<tr>
				<td>gig.title</td>
				<td>gig.price</td>
				<td>gig.status</td>
		    </tr>
		</tbod>
	</table>
</div>
