<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<%= image_tag 'logo.png', height: 50 %>
			</div>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Busca un servicio.." />
				</div>
		 </form>
		
		<div style="text-align: right;">
      		<%= login_helper %>
     	</div>
	
		</div>
	</div>
	<div id="category">
		<div class="container">
		<ul class=" nav navbar-nav">
			<li><a href="http://localhost:5000/categories/1">Graphic Design</a> </li>
			<li><a href="http://localhost:5000/categories/2">Writing & Blogs</a> </li>
			<li><a href="http://localhost:5000/categories/3">Video/Animation</a> </li>
			<li><a href="http://localhost:5000/categories/1">Music & Audio</a> </li>
		</ul>
		</div>
	</div>
</nav>
