@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome";



.container {
	width: 1100px;
}

body{
	padding-top: 80px;


}

#category a {
	padding: 5px 15px;
}


.navbar-inverse{
	background-color: #333333;
}


#footer{
	padding: 20px 0;
}


.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000 top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.jumbotron h2 {margin-top:0;}
.jumbotron {
  position:relative;
  padding-top:150px;
  padding-bottom:50px;
}
.jumbotron .container {
  position:relative;
  z-index:2;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top: 10000px;
    padding-bottom:20px;
  }
}

.green {
  color: #0bb536;
}

.file-button{
	padding-left: 18%
}

.dropdown-menu {
	margin-left: 850px;
}

.app-logo{
	height: 10px
}