

<h1 align="center"><%='Category: ' + @category.name %></h1>
<div align="center">
  
  <%= will_paginate @gig_categories%>
  </div>
<%= render 'gigs/gig_category_items', obj: @gig_categories %>
<div align="center">
  <%= will_paginate @gig_categories %>
  </div>