


  <%= form_tag("/checkout", method: "post", id: "payment-form") do %>
        <section>
        
            <input type="hidden" id="nonce" name="payment_method_nonce" />
            <button type="submit" class="btn btn-success btn-block">Order Now $<%= @gig_item.price %></button>  
            
        </section>

        


      <% end %>

            <script>
              $(document).ready(function() {
                braintree.setup("<%=@client_token %>", "dropin", {
                  container: "payment-form",
                  paypal: {
                    singleUse: true,
                    amount: "<%= @gig_item.price %>",
                    currency: 'USD'
                  }
                });
              });
           </script>


           <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
