
<!--  <div id="App-banner">	
 	<%= javascript_pack_tag 'app_banner'%>
</div> -->

<!--  <div id="gig-list">
           <%= javascript_pack_tag 'gig_react'%>
  </div>
 -->


<!-- Loop through each gig item form partial -->
<%= render 'gig_items'%>
